<section id="dynamic" data-transition="slide">
	<header>
		<nav class="left"><a href="/" data-icon='home'>Back</a></nav>
		<nav class="right">
			<a href="/section1">Section 1</a>
			<a lab-tap="triggerRightAside()">Right aside</a>
		</nav>		
	</header>
	<article class="active list">
		<ul class="items">
			<li ng-repeat="item in items" class="highlight">
				<strong>{{item.name}}</strong>
				<p>{{item.description}}</p>
			</li>
		</ul>

		<p>
        Test of directives using Lungo data-* attributes: <dynamic-directive-and-lungo-test></dynamic-directive-and-lungo-test> (currently failing)
    </p>

    <p>
        <a lab-window="popup-test.html" transition='cover' id='popupLink'>Click here to display a popup window</a>
    </p>
	</article>
  <script type="text/ng-template" id="popup-test.html">
      <article class="active" id="popup-article">
          <strong>Pop up!</strong>
          <button lab-tap="closeWindow()" id="closeWindowButton">Close window</button>
          <p>
            Test of directives using Lungo data-* attributes: <directive-and-lungo-test id="popupDirectiveTest"></directive-and-lungo-test> (currently failing)
          </p>
      </article>
  </script>
</section>