<section id='navbarissue' data-transition="slide">
  <header data-title="Navbar issue" class="extended">
    <nav class="left">
      <a href="/" data-icon="left"></a>
    </nav>
  </header>

  <nav class="groupbar">
    <a href="/navbarissue/navart1" id="navbarissue_navart1_link">First article</a>
    <a href="/navbarissue/navart2" id="navbarissue_navart2_link">Second article</a>
    <a href="/navbarissue/navart3" id="navbarissue_navart3_link">Third article</a>
  </nav>

  <article id="navart1" class="active list indented">
  	<strong>Article 1</strong>

  	<a href='/navbarissue/navart2'>Second article</a>
  	<a href='/navbarissue/navart3'>Third article</a>
  </article>

  <article id="navart2" class="list indented">
  	<strong>Article 2</strong>

  	<a href='/navbarissue/navart1'>First article</a>
  	<a href='/navbarissue/navart3'>Third article</a>
  </article>

  <article id="navart3" class="list indented">
  	<strong>Article 3</strong>

  	<a href='/navbarissue/navart1'>First article</a>
  	<a href='/navbarissue/navart2'>Second article</a>
  </article>
</section>