<html ng-app>
    <head>
        <title>Todo Example: Lungo Angular Bridge</title>

        <link rel="stylesheet" type="text/css" href="../../components/lungo/lungo.css"/>
        <link rel="stylesheet" type="text/css" href="../../components/lungo/lungo.icon.css"/>
        <link rel="stylesheet" type="text/css" href="../../components/lungo/theme.lungo.css">
        <script type="text/javascript" src="../../components/quojs/quo.debug.js"></script>
        <script type="text/javascript" src="../../components/lungo/lungo.js"></script>
    </head>

    <body>
        <section id="main" data-transition="slide">
            <header data-title="Todo Example"></header>
            <article class="active" ng-controller="TodoCtrl">
                 <span>{{remaining()}} of {{todos.length}} remaining</span>
                [ <a href="" ng-click="archive()">archive</a> ]
                <ul class="unstyled">
                    <li ng-repeat="todo in todos">
                        <input type="checkbox" ng-model="todo.done">
                        <span class="done-{{todo.done}}">{{todo.text}}</span>
                    </li>
                </ul>
                <form ng-submit="addTodo()">
                    <input type="text" ng-model="todoText"  size="30" placeholder="add new todo here">
                    <input class="btn-primary" type="submit" value="add">
                </form>
            </article>
        </section>

<!--         <cw-view></cw-view> -->

        <script type="text/javascript" src="../../components/angular/angular.js"></script>
        <script type="text/javascript" src="../../src/lungo-angular-bridge.js"></script>
        <script type="text/javascript" src="controllers.js"></script>

        <script type="text/javascript">
            Lungo.init({
                data    : 'Todo Example: Lungo Angular Bridge',
                version : '0.0.1'
            });
        </script>
    </body>

</html>