<html ng-app="TodoExample" lab-boot>
    <head>
        <title>Todo Example: Lungo Angular Bridge</title>

        <link rel="stylesheet" type="text/css" href="../../components/lungo/lungo.css"/>
        <link rel="stylesheet" type="text/css" href="../../components/lungo/lungo.icon.css"/>
        <link rel="stylesheet" type="text/css" href="../../components/lungo/theme.lungo.css">
        <script type="text/javascript" src="../../components/quojs/quo.debug.js"></script>
        <script type="text/javascript" src="../../lib/lungo.debug.js"></script>
    </head>

    <body>
        <section id="main" data-transition="slide">
            <header data-title="Todo Example">
                <nav class="right">
                    <a href="add-todo" data-icon="plus"></a>
                 </nav>
            </header>
            <article class="active list indented scroll" ng-controller="TodoCtrl" id="main">
                 <span class="remainingLabel">{{remaining()}} of {{todos.length}} remaining</span>
                [ <a lab-tap="archive()" class="button archiveButton">archive</a> ]
                <ul>
                    <li ng-repeat="todo in todos" lab-swipe-left="markAsDone(todo)" lab-swipe-right="markAsNotDone(todo)">
                        <input type="checkbox" ng-model="todo.done">
                        <span class="done-{{todo.done}}" >{{todo.text}}</span>
                    </li>
                </ul>
            </article>
        </section>

        <section id="add-todo" data-transition="slide" ng-controller="TodoAddCtrl">
            <header data-title="Add todo">
                <nav class="left"><a href="/" data-icon="home"></a></nav>
            </header>
            <article class="active">
                <form ng-submit="addTodo()">
                    <fieldset>
                        <label>New todo:</label>
                        <input type="text" ng-model="todoText"  size="30" placeholder="title">
                    </fieldset>
                    <input class="button right" type="submit" value="add">
                </form>
            </article>
        </section>

        <lab-view></lab-view>

        <script type="text/javascript" src="../../components/angular/angular.js"></script>
        <script type="text/javascript" src="../../dist/lungo-angular-bridge.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="controllers.js"></script>
    </body>

</html>
