<html ng-app="TransitionTest">
  <head>
      <title>LAB - AppRouter back test</title>

      <link rel="stylesheet" type="text/css" href="../../components/lungo/lungo.css"/>
      <link rel="stylesheet" type="text/css" href="../../components/lungo/lungo.icon.css"/>
      <link rel="stylesheet" type="text/css" href="../../components/lungo/theme.lungo.css">
      <script type="text/javascript" src="../../components/quojs/quo.debug.js"></script>
      <script type="text/javascript" src="../../lib/lungo.debug.js"></script>

      <script type="text/ng-template" id="screen1.html">
        <section id="screen1" data-transition="slide">
          <header>
            <nav class="left"><a lab-aside="leftaside" data-icon="menu"></a></nav>
          </header>
          <article class="active" id="article1">
            <a id="go-to-screen-2" href="#/screen2">Go to Screen 2</a>
            <a id="go-to-screen-2-article" href="#/screen2/article2">Go to Screen 2</a>
            <a id="go-to-screen-2-article-id" href="#/screen2/article2/123">Go to Screen 2 with article and ID</a>
          </active>
        </section>
      </script>

      <script type="text/ng-template" id="screen2.html">
        <section id="screen2" data-transition="slide">
          <header>
            <nav class="left"><a id="screen2-back" ng-click="goBack()" data-icon="left"></a></nav>
          </header>
          <article class="active" id="article2">
            <ul>
              <a id="go-to-screen-3" href="#/screen3">Go to Screen 3</a>
              <a id="go-to-screen-3-article" href="#/screen3/article3">Go to Screen 3</a>
              <a id="go-to-screen-3-article-id" href="#/screen3/article3/123">Go to Screen 3 with article and ID</a>
          </active>
        </section>
      </script>

      <script type="text/ng-template" id="screen3.html">
        <section id="screen3" data-transition="slide">
          <header>
            <nav class="left"><a  ng-click="goBack()" data-icon="left"></a></nav>
          </header>
          <article class="active" id="article3">
            <a id="go-to-screen-4" href="#/screen4">Go to Screen 4</a>
            <a id="go-to-screen-4-article" href="#/screen4/article4">Go to Screen 4</a>
            <a id="go-to-screen-4-article-id" href="#/screen4/article4/123">Go to Screen 4 with article and ID</a>
          </active>
        </section>
      </script>

      <script type="text/ng-template" id="screen4.html">
        <section id="screen4" data-transition="slide">
          <header>
            <nav class="left"><a  ng-click="goBack()"  data-icon="left"></a></nav>
          </header>
          <article class="active" id="article4">
            Here we are
          </active>
        </section>
      </script>

  </head>

  <body lab-boot>
    <section id="main" data-transition="slide">
      <article class="active" id="first_article">
        <strong>Start page</strong>
        <a href="#/screen1">Go to Screen 1</a>
        <a href="#/screen1/article1">Screen 1 + article</a>
        <a href="#/screen1/article1/1234">Screen 1 + article + id</a>
      </article>
    </section>

    <aside id="leftaside">
      <header>
        <span class="title center">Left aside</span>
      </header>
      <article class="active">
        <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/screen1">Screen 1</a></li>
          <li><a href="#/screen2">Screen 2</a></li>
          <li><a href="#/screen3">Screen 3</a></li>
          <li><a href="#/screen4">Screen 4</a></li>
          <li>With articles</li>
          <li><a href="#/screen1/article1">Screen 1</a></li>
          <li><a href="#/screen2/article2">Screen 2</a></li>
          <li><a href="#/screen3/article3">Screen 3</a></li>
          <li><a href="#/screen4/article4">Screen 4</a></li>
        </ul>
      </article>
    </aside>
    <lab-view></lab-view>

    <script type="text/javascript" src="../../components/angular/angular.js"></script>
    <script type="text/javascript" src="../../dist/lungo-angular-bridge.js"></script>

    <script>
      function SimpleBackController($scope) {
        $scope.goBack = function() {
          AppRouter.instance.back();
        };
      }
      // Declare app level module which depends on filters, and services
      angular.module('TransitionTest',
        ['Centralway.lungo-angular-bridge']).
        config(['$routeProvider', '$locationProvider', function($routeProvider, $locationProvider) {

          $routeProvider.when('/screen1', {templateUrl: 'screen1.html', controller: 'SimpleBackController'});
          $routeProvider.when('/screen2', {templateUrl: 'screen2.html', controller: 'SimpleBackController'});
          $routeProvider.when('/screen3', {templateUrl: 'screen3.html', controller: 'SimpleBackController'});
          $routeProvider.when('/screen4', {templateUrl: 'screen4.html', controller: 'SimpleBackController'});
          
          $routeProvider.when('/screen1/article1', {templateUrl: 'screen1.html', controller: 'SimpleBackController'});
          $routeProvider.when('/screen2/article2', {templateUrl: 'screen2.html', controller: 'SimpleBackController'});
          $routeProvider.when('/screen3/article3', {templateUrl: 'screen3.html', controller: 'SimpleBackController'});
          $routeProvider.when('/screen4/article4', {templateUrl: 'screen4.html', controller: 'SimpleBackController'});
          
          $routeProvider.when('/screen1/article1/:id', {templateUrl: 'screen1.html', controller: 'SimpleBackController'});
          $routeProvider.when('/screen2/article2/:id', {templateUrl: 'screen2.html', controller: 'SimpleBackController'});
          $routeProvider.when('/screen3/article3/:id', {templateUrl: 'screen3.html', controller: 'SimpleBackController'});
          $routeProvider.when('/screen4/article4/:id', {templateUrl: 'screen4.html', controller: 'SimpleBackController'});

          $routeProvider.otherwise({redirectTo: '/'});
          $locationProvider.html5Mode(false);
        }]);
    </script>
  </body>
</html>